# Environments & Secrets (DO NOT COMMIT)
.env
.env.*
!.env.example
service-account.json
credentials.json
*.pem
*.key
private*.key

/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/.env
/backend/.phpunit.result.cache
/backend/storage/framework/
/backend/storage/logs/

/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/build/
/frontend/ios/Pods/
/frontend/ios/.symlinks/
/frontend/ios/Flutter/Flutter.framework
/frontend/ios/Flutter/Flutter.podspec
/frontend/android/key.properties
/frontend/**/*.log
/frontend/**/*.iml
/frontend/.env

.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
